<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">

  <footer class="text-center text-white" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 BoardProject:
      <a class="text-white" href="https://mdbootstrap.com/">Kwon Ojun</a>
    </div>
    <!-- Copyright -->
  </footer>

</th:block>
</html>