<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/layout">
<head>
  <meta charset="UTF-8">
</head>


<th:block layout:fragment="content">

  <form th:action="@{/user/findPwd}" th:object="${userPwdChangeForm}" th:method="post">
    <div th:replace="~{fragment/form_errors :: formErrorsFragment}"></div>

    <div class="mb-3">
      <label th:for="nowPwd" class="form-label">현재 비밀번호를 입력해주세요.</label>
      <input type="password" th:field="*{nowPwd}"  class="form-control">
    </div>

    <div class="mb-3">
      <label th:for="changePwd1" class="form-label">변경할 비밀번호를 입력해주세요.</label>
      <input type="password" th:field="*{changePwd1}" class="form-control">
    </div>

    <div class="mb-3">
      <label th:for="changePwd2" class="form-label">변경할 비밀번호를 재입력해주세요.</label>
      <input type="password" th:field="*{changePwd2}" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">비밀번호 변경</button>

  </form>

</th:block>
</html>